@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --primary-color-- : #670A0A ;
}


* {
    margin: 0px;
    padding: 0px;

}

html {
    scroll-behavior: smooth;
}

.header-desktop {
    display: none;
}

.hero-desktop {
    display: none;
}

li {
    list-style: none;
    
}

a {
    text-decoration: none;
}


/* header mobile  */
.header-mobile > svg {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 25px;
    top: 25px;
    color: whitesmoke;
   
}

.header-mobile > h1 {
    
    position: absolute;
    left: 25px;
    top: 25px;
    color: whitesmoke;
}


/* header mobile fin */



/* section hero mobile  */
.hero-mobile {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 50px 25px;
    box-sizing: border-box;
    height: 100vh;
    background-image: url("image/homeMobile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
}

.hero-mobile > .span > p {
    font-family: "Roboto" ,serif;
    text-align: center;
}

.hero-mobile > button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    gap: 25px;
    font-size: larger;
    bottom: 25px;
    height: 75px;
    width: calc(100% - 50px);
    max-width: 450px;
    margin: 0px 25px;
    box-sizing: border-box;
    border-radius: 5px;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    background: var(--primary-color--);
    font-weight: normal;
}

.hero-mobile > button > svg {
    
    width: 25px;
}

/* section hero fin */











/* section service mobile  */
.section-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 50px 25px;
    box-sizing: border-box;
    width: 100%;
    /* background: khaki; */
}

.section-service > h2 {
    font-family:  "Roboto",serif;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: left;
    width: 90%;
    
}

.section-service > span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 0px 25px; */
    overflow-x: hidden;
    width: 90%;
    /* background: hotpink; */

}

.section-service > span > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 100%;
    /* flex-wrap: wrap; */
    /* box-sizing: border-box; */
    /* overflow-x: scroll; */
}

.section-service > span > ul > li {
    font-family: "Playfair Display" ,serif;
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    max-width: 450px;
    width: 100%;
    box-sizing: border-box;
    height: 450px;
    flex: 0 0 auto;
    border: solid 2px var(--primary-color--);
}

.section-service > span > ul > li:nth-child(4) , .section-service > span > ul > li:nth-child(5) ,  .section-service > span > ul > li:nth-child(6) {
    /* background: red; */
    display: none;
}

.section-service > span > ul > li > span {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    gap: 25px;
    padding: 0px 12.5px;
    padding-top: 25px;
    /* background: olivedrab; */
    height: 150px;
    overflow-y: scroll;
    width: 100%;
    box-sizing: border-box;
}

.section-service > span > ul > li > .img {
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100px; */
}
.section-service > span > ul > li:nth-child(1) > .img {
    width: 100%;
    height: 300px;
    background-image: url("image/chauffe-eau.png");
    /* height: 100px; */
}
.section-service > span > ul > li:nth-child(2) > .img {
    width: 100%;
    height: 300px;
    background-image: url("image/urgence.png");
    /* height: 100px; */
}
.section-service > span > ul > li:nth-child(3) > .img {
    width: 100%;
    height: 300px;
    background-image: url("image/salle de bain.png");
    /* height: 100px; */
}

.section-service > .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 12.5px;
    /* background: #c9e93a; */
    margin-top: 100px;

}

.section-service > .buttons > button {
    width: 100%;
    height: 50px;
    max-width: 450px;
    font-size: large;
    

}   

.section-service > .buttons > button:first-child {
    background: var(--primary-color--);
    color: whitesmoke;
    border: 2px solid var(--primary-color--);
}

.section-service > .buttons > button:nth-child(2) {
    background: transparent;
    color: var(--primary-color--);
    border: 2px solid var(--primary-color--);
}

/* section service mobile fin */






/* section avantage mobile */
.section-avantage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

    
}

.section-avantage > ul , h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background: lawngreen; */
    /* width: 40%; */
    /* padding: 50px; */
}

.section-avantage > h2 {
    /* background: #e2d183; */
    text-align: center;
    font-family: "Caveat" ,serif;
    color: var(--primary-color--);
    border-bottom: 1px solid var(--primary-color--);
    width: 90%;
    max-width: 450px;
    
    margin-bottom: 50px;
    padding-bottom: 12.5px;
}

.section-avantage > ul {
    /* background: #4fd395; */
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 90%;
    max-width: 450px;
    margin-bottom: 50px;
}

.section-avantage > ul > li {
    font-family: "Roboto" , serif;
    display: flex;
    /* gap: 50px; */
    align-items: center;
    justify-content: space-between;
    padding-inline : 25px ;
    box-sizing: border-box;
    background: #F3F3F3;
    height: 75px;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.section-avantage > ul > li > img {
    width: 50px;
}

.section-avantage > ul > li:nth-child(3) > img , .section-avantage > ul > li:nth-child(4) > img {
    width: 40px;
}

/* section avantage fin */





/* section avis mobile */
.section-avis {
   /* height: 100vh; */
   display: flex;
   flex-direction: column;
   align-items: center;
  
   /* justify-content: center; */
   /* background: #87dfc1; */
}

.section-avis > h2 {
    font-family: "Playfair Display" ,serif;
}

.section-avis > h2, .lien-avis {
    display: flex;
    flex-direction: column;    
    /* background: #4506ac; */
    height: fit-content;
    padding: 0px;
    margin-inline: 25px;
    margin-top: 25px;
    /* width: calc(100% - 50px); */
    /* max-width: 30px; */

}

.section-avis svg {
    width: 25px;
    /* height: 50px; */
    color: red;
    
}

.section-avis > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 50px 0px;
    width: 100%;
    /* background: #c9e93a; */
}

.section-avis > ul > li {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 50px);
    max-width: 450px;
    padding: 25px 25px;
    background: var(--primary-color--);
    box-sizing: border-box;
    border-radius: 10px;
    /* margin: 25px 25px; */
    box-sizing: border-box;
    
}

.section-avis > ul > li > p:nth-child(2) {
    font-family: "Playfair Display" ,serif;
    width: 100%;
    font-size: 0.9rem;
    padding: 25px 0px;
    letter-spacing: 8%;
    text-align: center;
    /* background: mediumseagreen; */
    
}

.section-avis > ul > li > p:nth-child(3) {
    font-family: "Roboto" ,serif;
    font-weight: 200;
    font-size: larger;
} 

.section-avis > span >button {
        width: 225px;
        height: 50px;
        background: #E6E4E4;
        border: none;
        font-size: larger;
        font-family: "Roboto" ,serif;
}

/* section avis fin */





/* section location  */

.section-location {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
}

.section-location > h2 {
    font-family: "Playfair Display" ,serif;
    text-align: center;
    margin: 25px 0px;
    margin-top: 50px;

}

.section-location > p {
    font-family: "Roboto" ,serif;
    text-align: center;
    margin: 0px 25px;
    margin-bottom: 50px;
    width: 90%;
    max-width: 900px;
}

.section-location > iframe {
    width: 100%;
    box-sizing: border-box;
}


.section-location > span {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: chocolate; */
    margin: 50px 0px;
    height: 50px;
}

.section-location > span > button {
    height: 100%;
    width: 90%;
    max-width: 450px;
    border: 1px solid var(--primary-color--);
    background: none;
    font-size: larger;
    color: var(--primary-color--);
}

/* section location fin */








/* footer  */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    font-family: "Playfair Display" , serif;
    padding: 50px 25px;
    color: whitesmoke;
    background: rgba(0, 0, 0, 0.80);
    border-top: black solid 1px;
}

footer > p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12.5px;
}

footer > p > svg {
    width: 20px;
    
}
/* footer fin */

@media (min-width:1024px) {

    /* section header desktop */

    .header-mobile {
        display: none;
    }
    .hero-mobile {
        display: none;
    }
    .header-desktop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 50px;
        height: 10vh;
        background: #6e6e6d13;
        border-radius: 50px;
        padding: 0px 50px;
    }

    .header-desktop > ul {
        font-family: "Roboto" ,serif;
        
        display: flex;
        gap: 25px;
    }

    .header-desktop > ul > li > a {
        color: rgba(0, 0, 0, 0.733);
    }
    .header-desktop > ul > li > a:hover {
        color: rgb(0, 0, 0);
    }

    


    .hero-desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin:  50px;
       
        gap: 25px;
        /* background: #b38181; */
        box-sizing: border-box;
    }


    .header-desktop > h2 {
        font-family: "Caveat" ,serif;
        color: var(--primary-color--);
    }

    .hero-desktop > .span {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: whitesmoke;
        font-family: "Roboto" ,serif;
        height: 50vh;
        width: 100%;
        /* margin: 50px; */
        background-image: url("image/home.png");
        /* background: plum; */
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50px;
        background-size: cover;
        box-sizing: border-box;
        gap: 25px;

    }

    

    .hero-desktop > .span > p:first-child {
        font-size: 2.5rem;
        margin-bottom: -12.5px;

    }
    .hero-desktop > .span > p:nth-child(2) {
        font-size: 1.25rem;
        color: rgba(245, 245, 245, 0.781);
    }

    .hero-desktop > ul {
        display: flex;
        align-items: center;
        justify-content: center;
        /* gap: 150px; */
        /* background: mediumaquamarine; */
        width: 100%;
        border-radius: 50px;
        padding: 50px ;
        box-sizing: border-box;
        border: 1px black solid ;
        height: calc(100vh - (60vh + 175px));
    }

    .hero-desktop > ul > li {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        /* background: khaki; */
        width: 250px;
        height: 100px;
        text-align: center;
       
    }

     .hero-desktop > ul > li:nth-child(2) {
        padding: 0px 25px;
     }
   

    .hero-desktop > ul > li:nth-child(2) {
        border-left: 1px black solid ;
        border-right: 1px black solid ;
        /* padding: 0px 50px; */
        margin: 0px 5px;
    } 

     .hero-desktop > ul > li > img {
        width: 45px;
    }

    .hero-desktop > ul > li:nth-child(2) > img {
        width: 55px;
    }

     .hero-desktop  button:hover {
        cursor: pointer;
        background: rgb(238, 42, 28) ;
        transition: 0.5s;
        
        transform: scale(1.05);
     }

    .hero-desktop  button {
        height: 75px;
        width: 350px;
        background: rgb(153, 9, 9);
        color: whitesmoke;
        font-size: larger;
        border: none;
        border-radius: 5px;
        margin-top: 50px;
        
    }



    /* section service desktop  */
    .section-service > span > ul {
        /* max-width: 1100px; */
        display: flex;
        flex-direction: row;
        /* flex-wrap: wrap; */
        justify-content: center;
        align-items: center;
        /* background: mediumvioletred; */
        
    }

    .section-service > span > ul > li {
        max-width: 350px;
        width: 30%;
    }

     .section-service > span > ul > li > span {
        justify-content: center;
        height: 150px;
        padding-block: 12.5px;
        /* background: mediumspringgreen; */
     }

    .section-service > h2 {
        text-align: center;
        color: rgba(0, 0, 0, 0.7);
        font-size: 2rem;
    }


    .section-service > .buttons {
        flex-direction: row;
         justify-content: center;
         gap: 25px;

    }
    
     .section-service > .buttons > button {
        width: 350px;
     }

     .section-service > .buttons > button:hover {
        cursor: pointer;
        /* background: rgb(238, 42, 28) ; */
        transition: 0.5s;
        
        transform: scale(1.05);
     }


    /* section service desktop fin */




    /* section avis desktop  */

    .section-avis {
        align-items: center;
        justify-content: center;
         margin-bottom: 100px;
    }

    .section-avis > ul {
        display: flex;
        justify-content: start;
        flex-direction: row;
        /* background: peru; */
        overflow-x: scroll;
        /* padding: 50px 500px; */
        height: auto;
        width: 90%;
        overflow-x: scroll;
        box-sizing: border-box;
    }

    .section-avis > h2, .lien-avis {
        width: 90%;
        max-width: none;
        /* margin: 0px ; */
        /* background: magenta; */
    }

    .section-avis > ul > li {
        width: 450px;
        /* height: 250px; */
        /* background: #c9e93a; */
       
        flex: 0 0 auto;
    }

    .section-avis > span {
        margin-top: 50px;
        width: 90%;
        display: flex;
        justify-content: end;
    }

    

    .section-avis > span >button:hover {
        /* background: #c9e93a; */
        color: rgba(0, 0, 0, 0.849);
        cursor: pointer;
    }

    /* section avis desktop fin */




    /* section avantage desktop  */
     .section-avantage {
        gap: 50px;
        box-sizing: border-box;
        align-items: center;
         justify-content: center;
         width: 100%;
         /* margin: 0px; */
         margin-bottom: 50px;
        padding-block: 50px;

         padding-inline: 100px;
         background: #F3F3F3;
         height: auto;
         box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    }

    .section-avantage > h2 {
        margin-bottom: 25px;
      
    }

    .section-avantage > ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 50%;
        margin: 0px;
        /* background: #4ac01c; */
    }
    .section-avantage > ul > li {
        width: 200px;
        flex-direction: column;
        height: 100px;
        box-shadow: none;
        /* background: red; */
        padding: 0px;
        flex: 0 0 auto;
        /* background: none; */
        ;
    }
    /* section avantage desktop fin */

}



